.bg{
  height: 100vh;
}
.quote-box{
  display: block;
  padding: 30px;
  width:100%;
  max-width: 500px;
  position: absolute;
  border-radius:10px;
  background-color: #fff;
}
.quote-text {
  font-size: 1.8em;
}
.btn-text{
  color:#fff!important;
}
